* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

#navbar {

    background-color: white;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    z-index: 1;
    top: 0.01rem;
    padding: 1rem;
    box-shadow: 1px 0px 4px 1px;
}

#logo{
    width: 7rem;
    margin-right: 2rem;
 
}

#searchbar{
    width: 25rem;
    height: 2rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#searchbtn{
    width: 7rem;
    height: 2rem;

    border: none;
    color: white;
    margin-right: 15rem;
    cursor: pointer;
    background: #0179FF;
}

#signin{
    width: 4rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 5rem;
    background-color: white;
    color: #AC00B5;
    border: 3px solid #AC00B5;
    cursor:pointer;
}

#mailicon{
    width: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

h5{
        color: #AC00B5;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.menu{
 
    width: 75vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar{
 
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    flex-direction: row;
    padding-inline: 3rem;
}

.content1{
display: flex;    
flex-direction: column;
align-items: center;
padding-inline: 2rem;
padding: 0;
}

#spancontainer{
    padding: 1rem;
}

#image{
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

#image1{
    width: 18rem;
    height: 18rem;
    padding: 1rem;

}

#head6{
    color: #AC00B5;
    word-spacing: 1rem;
    margin-bottom: 0.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#head3{
    margin-bottom: 0.3rem;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#headg3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

#hr{
    background-color: black;
    border: 0.1px solid black;
}


#para{
text-align: justify;
width: 18rem;
}